*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: goldenrod;
}
h1, h3, #inputDiv, #main, #error{
    text-align: center;
    /* padding: 1%; */
    color: aliceblue;
}
h3{
    padding-top: 5%;
}

button{
    border: green;
    background-color: green;
    border-radius: 7px;
    color: aliceblue;
    margin: 2%;
    padding: 5px;
    font-size: large;
}
#product{
    /* border: 1px solid black; */
    margin: 10%;
    margin-top: initial;
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
#list{
    border: 1px solid gray;
    width: 15.81%;
    padding: 2%;
}
.del{
    background-color: red;
}
#error{
    color: red;
}